body,html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    line-height: 1.8em; 
}

.img1,.img2,.img3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
    fixed=parallax
    scroll=normal
    */
    background-attachment: fixed;
}

.img1{
    background-image: url("unsplash.jpg");
    min-height: 100%;
}
.img2{
    background-image: url("sunset&tree.jpg");
    min-height: 400px;
}
.img3{
    background-image: url("water.jpg");
    min-height: 400px;
}


.section{
    text-align: justify;
    padding: 50px 80px;
    background-color: navajowhite;
    color:  rgb(12, 146, 41);
}
h2{
    text-align: center;
}

@media(max-width:380px){
    .section{
        text-align: center;
    }
}
